section#services.sec-container
    div.container
        div.part1
            p.h6.primary.fw-800.m-0 Services
            h2.h3.secondary.fw-800.m-0.mb-15px What we do?
            a(href="#contact").btn.btn-primary-outlined.btn-tense.waves-effect Book now
        div.part2
            span.layout
            p.text.mt-30px.body2 We do Weekly inspections, don't sub-contract, and have more than five years of experience in the following cleaning services
            div.splide
                div.splide__track
                    ul.splide__list
                        li.splide__slide
                            img(src=require('../assets/icon-carpet.svg'))
                            b Carpet
                            p.caption We use high-quality techniques and equipment to remove dirt, stains, and odors from your carpets, leaving them clean and fresh.
                        li.splide__slide
                            img(src=require('../assets/icon-kitchen.svg'))
                            b Kitchen
                            p.caption  We use high-quality products and effective techniques to remove accumulated grease and dirt on your countertops, appliances, floors, and other areas of your kitchen.
                        li.splide__slide
                            img(src=require('../assets/icon-window.svg'))
                            b Window
                            p.caption  We use high-quality products and techniques to effectively remove dirt, streaks, and smudges from the interior and exterior of your windows, leaving them sparkling clean.
                        li.splide__slide
                            img(src=require('../assets/icon-pressWasher.svg'))
                            b Pressure Washing
                            p.caption  Using high-pressure water and specialized cleaning solutions, we can effectively remove dirt, grime, and stains from a range of surfaces including concrete, brick, wood, and more.
                        li.splide__slide
                            img(src=require('../assets/icon-floor.svg'))
                            b Hard Floor Care
                            p.caption Our team is trained and equipped to handle all types of hard floor surfaces, using the appropriate products and techniques to ensure a thorough and effective clean.
                        li.splide__slide
                            img(src=require('../assets/icon-desinfect.svg'))
                            b Disinfection
                            p.caption We use top-quality disinfectant products and follow established protocols to effectively kill germs, bacteria, and viruses on surfaces and in the air.
                        li.splide__slide
                            img(src=require('../assets/icon-hood.svg'))
                            b Hood and Exhaust Cleaning
                            p.caption Our team is trained and equipped to handle all types of hood and exhaust cleaning projects, using the appropriate tools and techniques to remove built-up grease and dirt.
                        li.splide__slide
                            img(src=require('../assets/icon-constructionCleanup.svg'))
                            b Constructioon clean-up
                            p.caption Our company offers professional construction clean-up services for businesses, builders, and contractors. We understand the challenges of cleaning up after a construction project and are equipped to handle all types of construction debris and messes. 