section#partners.sec-container
    div.container
        h3.h3.fw-800.w-6
            span.d-block.primary These companies
            span.d-block.secondary trust our service
        div.brands.w-6
            img.mr(src=require("../assets/brand-marriot.png"))
            img.sh(src=require("../assets/brand-sheraton.png"))
            img.tr(src=require("../assets/brand-trilogy.png"))
            img.po(src=require("../assets/brand-postino.png"))
            img.bq(src=require("../assets/brand-barrioQueen.png"))
